# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
**/.idea/
# Virtual env
.env
venv/
ENV/
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

bot_old/chat_subscriptions.json
